<div>
    <!--Purchase list-->
  <div class=" card">
    <div class="card-header">My Purchase</div>
    <div class="card-body">
      <div class="col-12 pt-2" *ngIf="!purchases || purchases.length == 0">No purchases.</div>

        <div class="col-12" *ngIf="purchases && purchases.length > 0" >

          <mat-table #tblPurchase="matSort" [dataSource]="dataSource" matSort>

              <!-- purchase id Column -->
              <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef hidden> ID </mat-header-cell>
                  <mat-cell *matCellDef="let row" hidden> {{row.id}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="product.name">
                  <mat-header-cell *matHeaderCellDef class="col"> Name </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="col"> {{row.product.name}} </mat-cell>
              </ng-container>

            <!-- price Column -->
            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef class="col-3 col-sm-2"> Price ($) </mat-header-cell>
              <mat-cell *matCellDef="let row" class="col-3 col-sm-2"> {{row.price | number:'1.2-4'}} </mat-cell>
            </ng-container>

            <!-- quantity Column -->
              <ng-container matColumnDef="quantity">
                  <mat-header-cell *matHeaderCellDef class="col-2 col-sm-1"> Quantity </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="col-2 col-sm-1"> {{row.quantity }} </mat-cell>
              </ng-container>

              <!-- total price Column -->
              <ng-container matColumnDef="total">
                  <mat-header-cell *matHeaderCellDef class="col-3 col-sm-2"> Total Price ($) </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="col-3 col-sm-2"> {{row.price * row.quantity | number:'1.2-4' }} </mat-cell>
              </ng-container>

              <!-- dateCreated Column -->
              <ng-container matColumnDef="dateCreated">
                  <mat-header-cell *matHeaderCellDef class="col-3 col-sm-2">Purchase Date</mat-header-cell>
                  <mat-cell *matCellDef="let row" class="col-3 col-sm-2"> {{row.dateCreated | date: 'medium'}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
          </mat-table>

          <mat-paginator #pnPurchase="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
      </div>
    </div>
  </div>
</div>
